@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {font-size: 16px;}
body {
    font-size: 1rem;
    font-family: 'Lexend', sans-serif;
    position: relative;
}

.body{position: absolute; width: 100%; overflow: hidden;}

.container{width: 100%; overflow: hidden;}
.bg{background: url("../images/bg01.png") center; background-size: cover;}
.inner{width: 360px; margin: 0 auto; text-align: center;}

.pink{background-color: #E3C6FE;}

.set01, .set02, .set03, .set04, .set05, .set06{position: relative;}

.set01 a img{margin-top: 3rem;}
.set02, .set03, .set05{margin-top: 15rem;}
.set01, .set04{padding-top: 10rem;}

.set02 .set02-bgContainer,
.set03 .set03-bgContainer,
.set04 .set04-bgContainer,
.set05 .set05-bgContainer,
.set06 .set06-bgContainer{position: absolute; top: 0;}

/* 개별 셋업 */
/* 개별 셋업 *** SET02 */
.set02 .set02-content01 img{position: relative; z-index: 1;}
.set02 .set02-bgContainer img:nth-child(1){position: relative; top: -8rem; left: 14rem; right: 0rem; bottom: 0rem;}
.set02 .set02-bgContainer img:nth-child(2){position: relative; top: 4rem; left: -15rem; bottom: 0rem;}
.set02 .set02-bgContainer img:nth-child(3){position: relative; top: 20rem; left: 10rem; right: 0rem; bottom: 0rem;}

/* 개별 셋업 *** SET03 */
.set03{position: relative; right: 2rem; padding-bottom: 6rem;}
.set03 .set03-content01{position: relative; z-index: 2;}
.set03 .set03-bgContainer img:nth-child(1){position: relative; top: -9rem; left: -2.5rem;}

#immunyWater{display: inline-block; position: absolute; top: 143rem; left: 49rem;}

/* 개별 셋업 *** SET04 */
.set04 .set04-content01{position: relative; z-index: 2;}
.set04 .set04-bgContainer img:nth-child(1){position: relative; top: 12.5rem; left: -10rem;}
.set04 .set04-bgContainer img:nth-child(2){position: relative; top: 61rem; left: 7rem;}

/* 개별 셋업 *** SET05 */
.set05 .tab{position: relative; z-index: 100;}
.set05 .set05-bgContainer img:nth-child(1){position: relative; top: -6rem; left: -9rem;}
.set05 .set05-bgContainer img:nth-child(2){position: relative; top: 17.5rem; left: 11rem;}
.set05 .set05-bgContainer img:nth-child(3){position: relative; top: 15.3rem; left: -6rem;}
.set05 .set05-bgContainer img:nth-child(4){position: relative; top: 46rem; left: 3.6rem;}

.set05-btn{margin: 2rem 0 3rem 0;}

/* set05 faq 아코디언 */
.set05 .set05-content01{margin-bottom: 20px;}
.accordion{margin-bottom: 5rem; position: relative; z-index: 10;}
.accordion .tab{
    width: 100%;
    position: relative;   
    text-align: center; 
    box-shadow: 0 2px 8px rgba(128, 11, 67, 25%); 
    border-radius: 1rem; 
    overflow: hidden;
    margin-bottom: 20px;

    transition: all .5s;
    background-color: #B3BFEE;
}

.accordion .tab input{appearance: none; display: flex; align-items: center; justify-content: center;}
.accordion .tab label{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    cursor: pointer;
}

.accordion .tab label p{
    position: relative; 
    font-weight: 900;
    background-color: #D7DFFF;
    width: 100%; 
    padding: 2rem 0; 
}

.accordion .tab .faq-content{
    max-height: 0;
    transition: all .2s;
    overflow: hidden;
}

.accordion .tab input:checked ~ .faq-content{
    max-height: 100vh;
    height: 100%;
    padding: 1.5rem 0;
}

.accordion .tab .faq-content span{
    position: relative; 
    margin: 1rem 0; 
    font-size: 14px; 
    z-index: 10;
    font-weight: 600;
}

.accordion .tab input:checked ~ label{padding: 0;}
.accordion .tab input:checked ~ label p{
    width: 100%; 
    padding: 2rem 0; 
    box-shadow: 0 2px 8px rgba(128, 11, 67, 25%); 
    border-radius: 1rem; 
}

.appDown-faq .faq-content .download-app{margin-top: 1rem; text-align: center;}
.appDown-faq .faq-content .download-app a:nth-child(1){margin-right: 2rem;}

/* 개별 셋업 *** SET07 */
.set06{text-align: left; padding: 5rem 30px 7rem 30px;}
.set06 .snsLink-btn{position: absolute; margin-top: 1.5rem;}
.set06 .snsLink-btn a p img{position: relative; right: 10px;}
.snsLink-character{position: relative; top: 6rem; left: 10rem;}


/* footer */
.footer-container{padding: 5% 0%; text-align: left;}
.name-NKCL{font-size: 14px; font-weight: 800 !important; padding: 2% 1%;}
.footer-container .bot-cont{font-size: 12px; padding: 2% 1%; padding-top: 0;}
.footer-container .bot-cont p{padding: 2px 0;}

.oner-cont{display: flex; padding-bottom: 2px;}
.oner-cont span:nth-child(1){padding-right: 6px;}
.oner-cont span:nth-child(2){position: relative; border-left: 2px solid black; padding-left: 6px;}
/* .oner-cont span:nth-child(2)::before{content: ""; border-left: 2px solid black; position: absolute; top: 0; left: 6px;} */
