*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@media screen and (min-width: 501px) and (max-width: 600px) {
  #immunyWater{left: 6.5rem;}
}

@media screen and (min-width: 601px) and (max-width: 700px) {
  #immunyWater{left: 8rem;}
}

@media screen and (min-width: 701px) and (max-width: 800px) {
  #immunyWater{left: 10.5rem;}
}

@media screen and (min-width: 801px) and (max-width: 900px) {
  #immunyWater{left: 14.5rem;}
}

@media screen and (min-width: 901px) and (max-width: 1024px) {
  #immunyWater{left: 17.5rem;}
}

@media screen and (min-width: 360px) and (max-width: 500px) {
  html {background-color: white;}   
  header {padding: 0 0.7rem;}
  #immunyWater{left: 4.5rem;}
}
